.parent {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    opacity: 80%;
    text-align: center;
    margin: auto;
}

.parent .title {
    width: 30%;
    height: 250px;
    font-size: 100px;
    text-align: center;
    margin: auto;
    opacity: 70%;
    font-family: "Courier";
    padding-top: 50px;
}

.parent .button {
    width: 30%;
    height: 50%;
    font-size: 100px;
    background-color: burlywood;
    border-width: 0.3px;
    border-radius: 15px;
    text-align: center;
    font-family: "Courier New";
    color: black;
}